.App {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 400px;
    padding: 10px;
    border: 5px solid rgb(143, 210, 212);
    border-radius: 10px;
}
